html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    script(src='javascripts/datatables.js')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js')
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js')
    script(src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css')
    script(src='javascripts/edit.js')
    link(rel='stylesheet' href='stylesheets/style.css')
    title home
  body
    .container(style='background-color:lightblue;height:600px')
      ul.nav.nav-pills
        li
          a.active(href='#form', data-toggle='pill') form
        li
          a(href='#list', data-toggle='pill') list
        li
          a(href='logout') logout
      .tab-content
        #form.tab-pane.fade.in.active
          form(action='/form', method='post',enctype='multipart/form-data')
            h1
              b information
            label upload image:
            input(type='file',name='image')  
            label firstname:
            input(type='text', name='ftname')
            br
            br
            label lastname:
            input(type='text', name='ltname')
            br
            br
            label email:
            input(type='email', name='email')
            br
            br
            input(type='submit', value='submit')
        #list.tab-pane.fade
          table#example.table.table-bordered
            thead
              tr
                th profile
                th First Name
                th Last Name
                th Email
                th Action
            tbody
              each member in data
                tr
                  td
                    img(src="images/"+member.image,height="50px",width="50px")
                  td #{member.firstname}
                  td #{member.lastname}
                  td #{member.email}
                  td
                    button.btn.btn-info.edit(value=member._id) Edit
                    button(style="margin-left:10px",value=member._id).btn.btn-danger.delete Remove
        .dontshow
          form(action='/update', method='post')
            h1
              b information
            input(type='text',name='id')#id.hide
            label firstname:
            input(type='text', name='ftname')#fname
            br
            br
            label lastname:
            input(type='text', name='ltname')#lname
            br
            br
            label email:
            input(type='email', name='email')#mail
            br
            br
            input(type='submit', value='update')          
                    

